entrypoint = "index.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "monitor.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 25588
externalPort = 80

[[ports]]
localPort = 33049
externalPort = 8008

[[ports]]
localPort = 33803
externalPort = 5173

[[ports]]
localPort = 36019
externalPort = 8081

[[ports]]
localPort = 36801
externalPort = 3001

[[ports]]
localPort = 38211
externalPort = 8000

[[ports]]
localPort = 38477
externalPort = 3003

[[ports]]
localPort = 39799
externalPort = 4200

[[ports]]
localPort = 39953
externalPort = 6000

[[ports]]
localPort = 40617
externalPort = 5000

[[ports]]
localPort = 40639
externalPort = 8099

[[ports]]
localPort = 41203
externalPort = 8080

[[ports]]
localPort = 41507
externalPort = 9000

[[ports]]
localPort = 44577
externalPort = 6800

[[ports]]
localPort = 45075
externalPort = 3002
